<div class="container" style="background-color: white;">
  <div class="row">
    <div class="col-xs-12">
      <h1 style="color: brown;">{{name}}</h1>
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: oddNumber % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: oddNumber % 2 !== 0 ? 'yellow' : 'transparent'
            }"
            *ngFor="let oddNumber of oddNumbers"
          >
            {{ oddNumber }}
          </li>
        </div>
        <div *appUnless = "onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: evenNumber % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: evenNumber % 2 !== 0 ? 'yellow' : 'transparent'
            }"
            *ngFor="let evenNumber of evenNumbers"
          >
            {{ evenNumber }}
          </li>
        </div>
      </ul>
      <p appBasicHighlight>Style me with basic directive</p>
      <p  [appBetterHighlight] = "'red'" defaultColor = 'yellow'>Hover over me!</p>
      <p appChangeLetterColor>Change my letter color please!</p>
      <p appSecretMessage>Secret Message</p>
      <div [ngSwitch] = "value">
        <p *ngSwitchCase = "5">Value is 5</p>
        <p *ngSwitchCase = "10">Value is 10</p>
        <p *ngSwitchCase = "100">Value is 100</p>
        <p *ngSwitchDefault = "default">Value is default</p>
      </div>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
    </div>
  </div>
</div>
